<div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="http://clipart-library.com/img1/1241290.png" alt="" style="width: 50%">
        <h1><i class='fas fa-hamburger'></i>Eat-Da-Burger<i class='fas fa-hamburger'></i></h1>

    </div>
    <div class="col-md-4"></div>
</div>
<br>
<div class="row text-center">
    <div id="tobeeaten" class="col-md-4 border py-3">
        <div>
            <h3>Burger List - To Be Eaten...</h3>
            {{#each burgers}}
            {{#unless eaten}}

            <h5>|| {{this.burger}} ||
            <button value="{{this.id}}" class="eatburger" href="/api/burgers/{{this.id}}">Eat this burger!</button></h5>
            {{/unless}}
            {{/each}}
        </div>

    </div>
    <div class="col-md-4 border py-3">
        <h3>Enter a burger you want to eat. </h3>
        <h4>Click the Submit Button!</h4>
        <br>
<form class="button-size">
  <input type="text" id="burger"></input><br> <br>
  <h5><button id="createburger" type="submit">Start Cooking!<i class="fab fa-gripfire"></i></button></h5>
</form>
    </div>
    <div id="eaten" class="col-md-4 border py-3">
        <h3>Burger List - Been Eaten...</h3>

        {{#each burgers}}
        {{#if eaten}}

        <h5>|| {{this.burger}} ||</h5>
        {{/if}}
        {{/each}}


    </div>
</div>
</form>

<script type="text/javascript">

  $("#createburger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newBurger = {
      burger: $("#burger").val().trim()
    };
    console.log(newBurger)
    // Send the POST request.
    
    
    $.post("/api/burgers", newBurger).then(
      function(data) {
        console.log(data);
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
  });
  })


    $(".eatburger").on("click", function(event) {
    event.preventDefault();
  console.log(this)
    var id = this.value;
    console.log("in the id problem")
    console.log(id)
    // Send the PUT request.
    
    $.ajax({
   async: true,
   type: 'POST',
   url: '/api/burgers/' + id,
   data: "eaten=1",
   success:function(response) {
        console.log("burger with id" + id + "has been eaten");
        console.log(response)
                location.reload();
   },
   error:function(error) {

   }
});
    
      });
</script>